body {
  /* background-color: rgb(250, 250, 250); */
  background-color: whitesmoke;
  background-image: url("./supports/light-live-background-css.jpg");
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
